html{
	min-height: 100%;
}


header {
  text-align: center;
  /*background-color:white;*/
  min-height: 70px;
}

body {
  background: linear-gradient(#F0F2F5, #D3D8E8);
  background-repeat: no-repeat;
  font-family: "Arial";
  margin: 0px;
}

footer {
  /*position: fixed; müssen wir dann zusammenreden wie wir das am besten machen*/
  left: 0;
  bottom: 20px;
  width: 100%;
  text-align: center;
  color: rgb(86, 87, 90);
  margin: 10px 0px;
}

a {
  border-radius: 5px;
  display: flex;
  text-align: center;
  text-decoration: none;
}

.container {
  margin:auto;
  max-width:1200px;
  padding: 2%;
}

h1 {
  font-size: 28px;
}

p {}

/*Overview Elements:*/

.main {
  padding: 15px;
}

.left {
  display: flex;
  flex-direction: column;
  flex: 1;
	padding: 15px;
	order:1;
}

.right {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 15px 0px 15px 15px;
	order: 2;
}

.top {
  display: flex;
  align-items: flex-end;
}

.top h2 {}

.top h3 {
  flex: 1;
  text-align: right;
}

.attributes {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}

.field {
  flex: 1;
  margin-right: 10px;
	margin-bottom: 20px;
  min-width: 150px;
}

.field label {
  font-size: 14px;
	font-weight: bold;
}

.field h4 {
  margin: 0;
  font-size: 12px;
}

.field select, .field input[type=text] {
  width: 100%;
  margin-top: 3px;
  padding: 6px 6px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.connections {
  display: flex;
  flex-direction: column;
}

.available-connections {
  display: flex;
}

.elements {
  display: flex;
  flex-direction: column;
}

.available-elements {
  display: flex;
  flex-wrap: wrap;
}

.component {
  flex: 1;
  display: flex;
  -webkit-box-shadow: 0px 0px 10px 1px rgba(136, 136, 136, 1);
  -moz-box-shadow: 0px 0px 10px 1px rgba(136, 136, 136, 1);
  box-shadow: 0px 0px 10px 1px rgba(136, 136, 136, 1);
  border-radius: 5px;
  margin: 10px;
  min-width: 250px;
  max-width: 250px;
}

/*
.component:nth-last-child(1) {
    max-width: 50%;
}*/

.component img {
  width: 60px;
  height: 80px;
  padding: 5px 20px;
}

.arrow img {
  width: 60px;
  height: 20px;
  padding: 14px 20px 11px 20px;
}

.component h3 {
  background-color: white;
  flex: 2;
  font-size: 18px;
  padding: 10px;
  margin: 0px;
  font-weight: normal;
  border-radius: 0 5px 5px 0;
}

/*
.graph{
	width: 723px;
	margin: 5px;
	border: 1px solid;
	border-color: rgb(204,204,204);

}*/

.picture {
  width: 100px;
  height: 150px;
  position: absolute;
}

.picture h3 {
  visibility: hidden;
}

.picture h4 {
  visibility: hidden;
}

.picture p {
  visibility: hidden;
}

.generator {
  top: 50px;
  left: 70px;
}

.generator2 {
  top: 50px;
  left: 550px;
}

.machine {
  top: 50px;
  left: 330px;
}

.conveyor {
  top: 230px;
  left: 180px;
}

.intelligent_conveyor {
  top: 230px;
  left: 430px;
}

.trash_storage {
  top: 390px;
  left: 60px;
}

.interim_storage {
  top: 390px;
  left: 310px;
}

.end_storage {
  top: 390px;
  left: 560px;
}

@media (min-width: 1080px) {
  .left {
    border-right: 1px solid;
    border-color: rgb(204, 204, 204);
  }
  .main {
    display: flex;
    max-width: 1400px;
    margin: auto;
  }
  .graph {
    position: relative;
    /*width: 723px;*/
		height: 548px;
    margin: 5px;
    border: 1px solid;
    border-color: rgb(204, 204, 204);
  }
	.picture img{
		cursor: move;
	}
	.picture_attributes{
		display: none;
	}
}

@media (min-width: 768px) and (max-width: 1079px) {
  .top h2 {
    flex: 1;
  }
  .graph {
    position: relative;
    width: 723px;
		height: 548px;
    margin: auto;
    border: 1px solid;
    border-color: rgb(204, 204, 204);
  }
	.component{
	  min-width: 340px;
	  max-width: 340px;
	}
	.left {
    border-top: 1px solid;
    border-color: rgb(204, 204, 204);
  }
	.main{
		margin: auto;
		max-width: 800px;
	}
}

@media (max-width: 767px) {
  .left {
    padding: 5px;
  }
  .right {}
  .arrows {
    display: none;
  }
  .top {}
  .top h2 {
    font-size: 18px;
  }
  .top h3 {
    font-size: 16px;
		font-weight: none;
  }
  .pictures {
    display: flex;
    flex-wrap: wrap;
  }
  .picture {
    position: static;
    flex: 1;
    display: flex;
    -webkit-box-shadow: 0px 0px 10px 1px rgba(136, 136, 136, 1);
    -moz-box-shadow: 0px 0px 10px 1px rgba(136, 136, 136, 1);
    box-shadow: 0px 0px 10px 1px rgba(136, 136, 136, 1);
    border-radius: 5px;
    margin: 10px;
    min-width: 300px;
  }
  .picture img {
    width: 60px;
    height: 80px;
    padding: 20px;
  }
  .picture_attributes {
    display: flex;
    background-color: white;
    flex-direction: column;
    padding: 10px;
    flex: 2.5;
    font-size: 15px;
    border-radius: 0 5px 5px 0;
  }
  .picture h3 {
    visibility: visible;
    padding: 0px;
    margin: 0px;
    font-weight: normal;
  }
  .picture h4 {
    visibility: visible;
    margin: 5px 0px 0px 0px;
    font-weight: normal;
  }
  .picture p {
    visibility: visible;
    margin: 0px;
  }
	.attributes{
		display: none;
	}
	.right{
		display: none;
	}
}
.content_text {
  float: left;
  width: 50%;
  font-size: 14px;
  font-weight: bold;
  padding-top: 14px;
  padding-bottom: 14px;
  margin: 0 0;
}

.content_textfield {
  float: right;
  width: 50%;
}

input[type=password] {
  width: 95%;
  font-size: 14px;
  padding: 7px 5px;
  margin: 6px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type=text] {
  width: 100%;
  font-size: 14px;
  padding: 7px 5px;
  margin: 6px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type=submit] {
  color: #4E4E4E;
  background: linear-gradient(#CCCCCC, #9A9A9A);
  width: 50%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 6px;
  margin-left: 25%;
  margin-right: 25%;
  border: 1px solid rgb(153, 153, 153);
  border-radius: 4px;
  cursor: pointer;
}

@media (max-width:399px) {
  .content_text {
    width: 100%;
    padding-bottom: 0px;
  }
  .content_textfield {
    float: right;
    width: 100%;
  }
  .container input[type=submit] {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .login input[type=submit]{
	  width:100%;
  }

  .login{
	padding-left: 0;
	padding-right: 0;
  }
}

.navigation {
  margin: 0;
  padding: 10px;
  overflow: hidden;
  background: linear-gradient(#FFD843, #FF9A13);
}

.logo {
  float: left;
  color: black;
  font-size: 30px;
  font-weight: bold;
  align-items: center;
}

.logo img {
  padding-right: 10px
}

.logo div {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  float: right;
  color: white;
  padding-top: 5px;
}

.menu div{
  display: flex;
  text-align: center;
  text-decoration: none;
  padding-right: 2px;
}

.menu a, .field a {
  color: white;
  background: linear-gradient(#1980AD, #27558B);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
}

.login {
  padding: 2%;
  max-width:1000px;
  margin:auto;
}

.login div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 10px;
  align-items: center;
  font-weight: bold;
}

.login input {
  border-radius: 5px;
  width: 50%;
}

.login h1 {
  font-size: 25px;
}

@media (max-width:1199px) {
	.login{
		padding-left:2%;
		padding-right:2%;
	}
@media (max-width:399px) {
	.login input{
		width:100%;
	}
	.login input[type=submit] {
		color: #4E4E4E;
		background: linear-gradient(#CCCCCC, #9A9A9A);
		width: 100%;
		padding-top: 10px;
		padding-bottom: 10px;
		margin:0;
		border: 1px solid rgb(153, 153, 153);
		border-radius: 4px;
		cursor: pointer;
	}
}

}
@media (max-width:629px) {}
